@import "tailwindcss";

 :root {
	font-family: 'Segoe UI', system-ui, sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
	min-height: 100vh;
}
